$colorWhite: #ffffff;
$colorLightSilver: #f8f9fa;
$colorSilver: #7e94a2;

$colorError: #c94f4f;
$colorInfo: #d4e2ea;
$colorSuccess: #44998f;

$colorErrorText: $colorWhite;
$colorInfoText: $colorSilver;
$colorSuccessText: $colorWhite;

$backgroundColor: $colorLightSilver;
$panelBackgroundColor: $colorWhite;

$contentMargin: 26;

$shadowSize: 4;
$shadowOpacity: 0.05;
$borderRadius: 4;
$formElementWidth: 400;
